# workspace files are ignored
*.dws
*.code-workspace

# Library binary raylib files built from https://github.com/Brian-ED/temp-c-raylib
lib/

# Incomplete examples
examples/6_shaders

# build output directory
out/ 
Dist/

# vscode settings
.vscode
